.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background-image: url('/ambitious-studio-rick-barrett-g_bglWB48JA-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_uss {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 33.18px;
    line-height: 120%;
    padding-bottom: 50px;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
}

.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
    text-align: center;

    #us {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 27.65px;
        line-height: 120%;
        color: #43B97F;
    }
}

.triple_green_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.green_logo_box {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .img_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.triple_green_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #fff;

    .best {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23.04px;
        line-height: 120%;
        color: #fff;
    }
}

.block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.ka4ki {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #fff;
    }

    #ka4ki_h {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 27.65px;
        line-height: 120%;
        color: #fff;
    }

}

#ka4ki_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

#photo_podrujki {
    width: 100%;
    min-width: 280px;
    max-width: 380px;
}

.our_team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;

    .our_team_h {
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 27.65px;
        line-height: 120%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #oth {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            color: #fff;
        }
    }
}

.four_tm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;

    @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

}

.four_t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .four_img_t {
        
        max-width: 200px;
        max-height: 247px;
    }
}

.four_svg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;

    .four_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >a {
            &:active {
                transform: scale(0.98);
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

}