.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: black;
    padding-top: 50px;
    color: wheat;

    ul {
            display: grid;
            grid-template-rows: auto;
            list-style: none;
            padding: 0;
            gap: 10px;
            margin: 0;
        }

    a {
        color: #fff;
    }
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1280px;
    padding: 1em;
}

.footer_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    
    @media screen and (min-width: 1280px) {
       display: grid;
       grid-template-columns: 1fr 3fr;
    }
}
.column_a {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    .footer_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
}
.column_b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 3fr 3fr 4fr;
    }
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;    
}

.column_h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19.2px;
    line-height: 180%;
    color: #FFFFFF;
}
.links_footer > a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer_logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19.2px;
    line-height: 180%;
    color: #FFFFFF;
}
.footer_img {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.kami {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19.2px;
    line-height: 180%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding-bottom: 60px ;
    padding-top: 30px;
}
