// Work.scss
.work_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background-image: url('/gentrit-sylejmani-JjUyjE-oEbM-unsplas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 33.18px;
    line-height: 120%;
    padding-bottom: 50px;
}

.work-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #43B97F;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: #555;

        input {
            width: 100%;
            padding: 8px;
            margin-top: 4px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

    button {
        background-color:  #8b8c8c;
        color: #FFF;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #43B97F;
        }
    }

    p {
        margin-top: 15px;
        color: #f44336;
    }
}